.botones-letras {
  padding: 70px;
}
.imagen {
  display: flex;
  justify-content: center;
}
.letras {
  display: flex;
  justify-content: center;
  align-content: center;
}

.intentos {
  display: flex;
  justify-content: center;
}
