.imagen-vives {
  height: 450px;
}

.imagen {
  display: flex;
  justify-content: center;
}

.titulo {
  display: flex;
  justify-content: center;
}

.botones-vives {
  display: flex;
  justify-content: center;
}
