.imagen-mueres {
  height: 450px;
}

.imagen {
  display: flex;
  justify-content: center;
}

.titulo {
  display: flex;
  justify-content: center;
}

.botones-mueres {
  display: flex;
  justify-content: center;
}
